.details-wrapper{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.details-title{
    padding: 15px;
    color: white;
    margin: 0;
}

.details-title::first-letter{
    text-transform: uppercase;
}

.details-img{
    filter: drop-shadow(15px 15px 5px rgb(0 0 0 / 0.4)); 
}

.mobile-details .details-img{
    width:90vw;
}

.details-favorite-btn{
    /* height: 100%; */
    border: none;
    background: none;
}

.mobile-details .details-favorite-btn{
    /* justify-self: flex-end; */
    /* flex: auto; */
    /* width: 90%; */
    margin-left: auto;
    padding-top: 8px;
}

.details-mobile-header{
    display: flex;
    flex-direction: collum;
    width: 100%;
}